---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

const PROJECTS = [
  {
    name: "Chive",
    description: "A audio file player and manager.",
    link: "https://www.chive.dev",
  },
  {
    name: "CragSense",
    description: "Scope weather conditions for climbing locations.",
    link: "https://www.cragsense.com/",
  },
  {
    name: "Achilles",
    description: "A visualizer for the apollo tracing extension.",
    link: "https://www.achilles.run",
  },
];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      #reason {
        opacity: 0;
        transition: opacity 0.4s;
      }

      #reason.show {
        opacity: 1;
      }
    </style>
    <script>
      const reasons = ["fun", "growth", "impact"];

      setInterval(async () => {
        const reason = document.getElementById("reason");
        if (reason) {
          reason.classList.remove("show");
          await new Promise((resolve) => setTimeout(resolve, 400));

          const currentReason = reason.innerText;
          const index = reasons.indexOf(currentReason);
          const nextIndex = index + 1 === reasons.length ? 0 : index + 1;
          const nextReason = reasons[nextIndex];
          reason.innerText = nextReason;
          reason.classList.add("show");
        }
      }, 2000);
    </script>
  </head>

  <body class="w-full">
    <Header title={SITE_TITLE} />
    <main class="p-4">
      <div class="animated-bg"></div>

      <div class="flex flex-col justify-center m-auto max-w-lg">
        <h1 class="font-title text-5xl max-w-lg text-[#91B4D5] mt-8">
          Building for <span class="fun-text show" id="reason">fun</span>.
        </h1>
        <p class="inline-block mt-4">Software engineer based in Portland, OR</p>
        <p class="inline-block mt-4">"Just Think" - Aaron Swartz</p>
        <!-- <a
          class="w-fit cursor-pointer font-title text-xl max-w-xs text-[#91B4D5] mt-8 mb-2 border-b-2 border-transparent hover:border-[#91B4D5] hover:text-[#91B4D5]"
          href="summer-of-aaron-swartz"
        >
          Summer of Aaron Swartz (2023)
        </a> -->

        <h2 class="font-title text-2xl max-w-xs text-[#91B4D5] mt-8 mb-4">
          Things I'm working on
        </h2>
        {
          PROJECTS.map(({ name, description, link }) => {
            return (
              <a
                href={link}
                target="_blank"
                class="cursor-pointer rounded hover:bg-gray-800 p-2 mb-2"
              >
                <h3>{name}</h3>
                <p class="text-gray-500">{description}</p>
              </a>
            );
          })
        }
        <h2 class="font-title text-2xl max-w-xs text-[#91B4D5] mt-8 mb-4">
          Latest blog post
        </h2>
        <a
          href="blog/omitting-types-in-typescript"
          target="_blank"
          class="cursor-pointer rounded hover:bg-gray-800 p-2 mb-2"
        >
          Omitting properties in TypeScript
        </a>
      </div>
    </main>
    <Footer />
  </body>
</html>
